.swal2-cancel {
    margin-left: 15px;
}
.swal2-confirm {
    margin-left: 15px;
}
.customError {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.storeLabel {
    color:#007bff;
    margin: 15px;
    text-align: center;
}
.pull-right {
    float: right !important;
}
.addImage {
    margin-top: 25px;
    margin-right: 180px;
}